[Unit]
Description=sshfs watchdog
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/home/bkotis/Documents/backup_daemon/sshfs_watchdog /etc/sshfs_watchdog/paths.conf

[Install]
WantedBy=multi-user.target
