[Unit]
Description=A server monitor using Slack notifications
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/etc/slack_monitor/slack_monitor

[Install]
WantedBy=multi-user.target
